body {
  margin: 0;
  padding: 5px;
  font-family: "Arial", sans-serif;
  line-height: 2;
  color: #333333;
  background-color: #f5f4e5;
}

.page-header {
  position: fixed;
  top: 2px;
  left: 10px;
  width: 94%;
  max-width: 560px;
  padding: 2px;
  border-spacing: 0;
  border-radius: 5px;
  text-align: center;
  background-color: #8fbc8f;
}
@media screen and (min-width:30em) {
  .page-header {top: 10px; left: 10%;}
}

.btn {
  overflow: hidden;
  margin: 0 2px;
  border: 1px solid #333333;
  border-radius: 5px;
  cursor: pointer;
}

.btn__exit-test {
  width: 30px;
  padding: 2px;
  font-weight: bold;
  background-color: #e2dfe0;
}

.btn__next-quest {
  width: 60px;
  padding: 2px;
  background-color: #d0ecf4;
}

.page-title {
  font-size: 1.2em;
}

select {
  min-width: 120px;
  padding: 2px 5px;
  border: 2px outset #333333;
  border-radius: 5px;
  font-size: 1em;
  background: linear-gradient(to bottom, #ffffff, #b0c4de, #ffffff);
}

.content {
  width: 96%;
  max-width: 560px;
  margin: 42px 0 20px 6px;
  border-spacing: 0;
  background-color: #f5f4e5;
  border: 1px dotted #333333;
}
@media screen and (min-width:30em) {
   .content {margin: 50px 0 20px 10%;}
 }

.quest-num {
  margin: 0 10px 0 5px;
  font-weight: bold;
}

.quest-count {
  margin-left: 5px;
  font-size: 0.8em;
}

.test-quest {
  min-height: 48px;
  padding: 10px 10px 20px 10px;
  border: 1px inset #333333;
  line-height: 1.5;
  background-color: #f8f8ff;
}
@media screen and (min-width:30em) {
   .test-quest {padding: 20px 10px; line-height: 1.7;}
}

.test-correct-count {
  font-size: 0.8em;
  line-height: 1.5;
  text-align: right;
}

.test-answer {
  font-family: "Consolas", monospace;
  font-size: 0.9em;
  padding: 12px 0;
  border-top: 1px dotted #333333;
  background-color: #ffffff;
  cursor: pointer;
}

.test-answer-num {
  margin: 2px;
  padding-left: 5px;
}

.test-answer input {
  padding-left: 5px;
}

.test-answer label {
  padding-left: 5px;
  cursor: pointer;
}

.test-obj {
  max-width: 560px;
  margin: 20px 6px 5px 6px;
}
@media screen and (min-width:30em) {
  .test-obj {margin-left: 10%;}
}

.test-obj img {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  object-fit: contain;  
  border-radius: 5px;
  border: 1px dotted #333333;
}

.test-result {
  max-width: 560px;
  margin: 10px 5px;
  text-align: center;
}

.test-result-percent {
  padding-left: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.test-result-mark {
  width: fit-content;
  min-width: 120px;
  margin: 15px auto;
  padding: 0 10px;
  border: 2px outset #333333;
  font-size: 7em;
  font-weight: bold;
  line-height: 1.5;
  background-color: #ffffff;
}

span {
  padding-left: 5px; 
  padding-right: 0;
}

@media screen and (min-width:30em) {
 span {padding-left: 7px; padding-right: 2px;}
}

}